.without-padding input {
    padding: 10px;
    padding-left: 18px;
}

.button-primary {
    background-color: $light-violet !important;
    border-radius: $border-radius !important;
    color: $gray-01 !important;
    font-family: $dg-font-family-poppins !important;
    text-transform: none !important;
    padding: 2px 37px !important;
    font-weight: 600 !important;
    &:focus{
        outline:0;
    }
}