.notifications-list {

    .notifications-section {
        margin: 20px 5px;
        max-height: calc(100vh - 200px);
        min-height: calc(100vh - 200px);
        overflow-y: scroll;
    }

    .notification-card {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        margin-right: 10px;


        img {
            width: 48px;
            height: 48px;
        }

        .notification-card-details {
            text-align: left;
            display: flex;
            flex: auto;
            flex-direction: column;
        }

        span {
            color: white
        }

        .notification-card-image {
            max-width: 80px
        }
    }
}

.notification-details {
    display: flex;
    color: white;
    text-align: left;
    padding: 5% 10%;
    // justify-content: space-around;

    .notification-details-intro {
        min-width: 40%;
        max-width:40%;
        .stage-icon {
            text-align: center;

            img {
                width: 130px;
                height: 130px;
            }
        }
    }

    .notification-details-users {
        min-width:40%;
        max-width:40%;
        p {
            color: white;
            max-width: 300px;
        }

        .users-list-scrollablle {
            display: flex;
            max-width: 330px;
            overflow-x: scroll;
            cursor: auto;
        }
    }

    .notification-details-status {
        .online {
            width: 16px;
            height: 16px;
            background-color: #00FF08;
            border-radius: 25px
        }
    }
}

.display-online {
    display: none !important;
}

.hide-online {
    display: block !important;
}

@media only screen and (max-width: 768px) {
    .notification-details {
        display: block !important
    }

    .stage-icon {
        text-align: left !important;

    }

    .display-online {
        display: block !important
    }

    .hide-online {
        display: none !important;
    }
}