/* width */
.stages-container::-webkit-scrollbar {
  width: 5px;
  background-color: $dark-gray-01;
}

/* Track */
.stages-container::-webkit-scrollbar-track {
  border-radius: 0px;
}

/* Handle */
.stages-container::-webkit-scrollbar-thumb {
  background: $med-gray-01;
  border-radius: 5px;
}

/* Handle on hover */
.stages-container::-webkit-scrollbar-thumb:hover {
  background: $med-gray-01;
}

// .scroll::-webkit-scrollbar {
//   display: none;
// }


/* width */
.stages-list::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

/* Track */
.stages-list::-webkit-scrollbar-track {
  border-radius: 25px;
}

/* Handle */
.stages-list::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 25px;
}

/* Handle on hover */
.stages-list::-webkit-scrollbar-thumb:hover {
  background: white;
}



/* width */
.notifications-section::-webkit-scrollbar {
  width: 15px;
  background-color: transparent;
}

/* Track */
.notifications-section::-webkit-scrollbar-track {
  border-radius: 25px;
}

/* Handle */
.notifications-section::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 25px;
  border: solid 5px #242424;
}

/* Handle on hover */
.notifications-section::-webkit-scrollbar-thumb:hover {
  background: white;
}



/* width */
.users-list-scrollablle::-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
}

/* Track */
.users-list-scrollablle::-webkit-scrollbar-track {
  border-radius: 25px;
}

/* Handle */
.users-list-scrollablle::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 25px;
  border: 0;
}

/* Handle on hover */
.users-list-scrollablle::-webkit-scrollbar-thumb:hover {
  background: transparent;
}


/* width */
.step-content::-webkit-scrollbar {
  width: 5px;
  background-color: #2A2A2A;
}

/* Track */
.step-content::-webkit-scrollbar-track {
  border-radius: 0px;
}

/* Handle */
.step-content::-webkit-scrollbar-thumb {
  background: $med-gray-01;
  border-radius: 5px;
}

/* Handle on hover */
.step-content::-webkit-scrollbar-thumb:hover {
  background: $med-gray-01;
}



/* width */
.icons-list::-webkit-scrollbar {
  width: 5px;
  background-color:#4B4B4B;
}

/* Track */
.icons-list:-webkit-scrollbar-track {
  border-radius: 0px;
}

/* Handle */
.icons-list::-webkit-scrollbar-thumb {
  background: #BFBFBF;
  border-radius: 5px;
}

/* Handle on hover */
.icons-list::-webkit-scrollbar-thumb:hover {
  background: #BFBFBF;
}