/* width */
::-webkit-scrollbar {
  width: 5px;
  background-color: $dark-gray-01;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $med-gray-01;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $med-gray-01;
}

// .scroll::-webkit-scrollbar {
//   display: none;
// }