* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

/* Stages */
.stages-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

/* Stage */
.photos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
}
.photos img {
  object-fit: cover;
  object-position: 50% 50%;
  flex: 1 0 auto;
}

.stage-container {
  padding: 30px 20px;
  background: #3d3d3d;
}

img {
  padding: 5px;
}

/* Stage overlay */
.stage-containe {
  /* position:relative; */
}
.overlay {
  position: absolute;
  top: 35px;
  /* left:25px;
  right:25px;  */
  background: rgba(0, 0, 0, 0.678);
  color: #f1f1f1;
  /* width: 50%; */
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
  margin: 0 15px 0 5px;
  text-align: center;
}

.stage-container:hover .overlay,
.masonry:hover .overlay {
  opacity: 1;
}

/* Masonary */
div.masonry {
  padding: 30px 20px;
  background: #3d3d3d;
  height: 100%;
  min-height: 100%; 
  max-height: 100vh !important; 
  /* overflow-y: scroll; */
}

div.item {
  column-count: 3;
 
}

.item img {
  width: 100% !important;
  height: auto !important;
}
