@import './variables';

h1{
    font-family: $dg-font-family-poppins !important;
    font-size: 36px !important;
    font-weight:600 !important; 
}
h2{
    font-family: $dg-font-family-poppins !important;
    font-size: 30px !important;
    
    &.welcome{
       font-weight:600 !important; 
    }
}
h3{
    font-family: $dg-font-family-poppins !important;
    font-size: 24px !important;
    font-weight:600 !important; 
}
h4{
    font-family: $dg-font-family-poppins !important;
    font-size: 18px !important;
    font-weight:600 !important; 
}
h5{
    font-family: $dg-font-family-poppins !important;
    font-size: 14px !important;
    font-weight:600 !important; 
}
h6{
    font-family: $dg-font-family-poppins !important;
    font-size: 12px !important;
    font-weight:600 !important; 
}

p{
    font-family: $dg-font-family-source-sans-pro;
    font-size: 12px;
    color: #777777;
}

.violet-color-text{
    color: $light-violet !important;
}

.white{
    color: white !important;
}
.green{
    color: green !important;
}