@import './variables';

h6{
    font-family: $dg-font-family-poppins;
    font-size: 12px !important;
}

p{
    font-family: $dg-font-family-source-sans-pro;
    font-size: 14px;
    color: #777777;
}