$stage-blue: #0B2D71;
$stage-dark-blue:#012340;
$stage-red: #F20544;
$stage-dark-red:#721542;
$stage-mint: #53E0DB;
$stage-ice: #74ECFF;
$stage-light: #EEFFBE;
$sun-flower: #C4C4C4;
$light-violet: #897FE4;

$gray-01:#ffffff;
$gray-02:#EEEEEE;
$gray-03:#828282;
$med-gray-01:#535353;
$med-gray-02:#3C3C3C;
$dark-gray-01:#282828;
$dark-gray-02:#181818;
$black:#121212;



$dg-font-family-poppins: Poppins;
$dg-font-family-source-sans-pro: Open sans;

$border-radius: 24px;

// A map of breakpoints.
$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px
);

// Get the small breakpoint.
$breakpoint: map-get($breakpoints, sm);